@model IEnumerable<negocio.UI.Web.Areas.Admin.Models.ProdutoViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Produtos";
}

<h2>Listar Produtos</h2>
<h3>@ViewBag.status </h3>
@Html.ActionLink(" ", "Create", null, new {@class = "btn btn-primary btn-lg glyphicon glyphicon-floppy-disk"})
<br>

<div style="width: 650px;">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.Id).Titled("Código").Filterable(true);
        columns.Add(c => c.Descricao).Titled("Descricao").Filterable(true);
        columns.Add(c => c.Marca).Titled("Marca").Filterable(true);
        columns.Add(c => c.Modelo).Titled("Modelo").Filterable(true);
        columns.Add(c => c.Tamanho).Titled("Tamanho").Filterable(true);
        columns.Add(c => c.Referencia).Titled("Referencia").Filterable(true);
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink(" ", "Edit", "Produto", new {c.Id}, new {@class = "glyphicon glyphicon-eye-open", @title = "Editar"}));
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink(" ", "Delete", "Produto", new {c.Id}, new {@class = "glyphicon glyphicon-trash", @title = "Excluir"}));
    }).WithPaging(6).Sortable(true).EmptyText("Não existe nenhuma informação cadastrada")
</div>